<p id="notice"><%= notice %></p>
<%= render "shared/header" %>

<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @task.title %>
      </p>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
        <div class="prototype__manage">

          <% if user_signed_in? && current_user.id == @task.user_id %>
            <%= link_to "編集する", class: :prototype__btn %>
            <%= link_to "削除する", method: :delete, class: :prototype__btn %>
          <% end %>
        </div>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <div class="prototype__image">
      
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">キャンペーン内容</p>
          <p class="detail__message">
            <%= @task.content %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">携帯キャリア</p>
          <p class="detail__message">
            <%= @task.mobile.Mobile %>
          </p>
        </div>
        <div class="prototype__image">
            <%= image_tag @task.image if @task.image.attached? %>
        </div>
      </div>
    </div>
  </div>
</main>